.profile-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 15px;
    opacity:0.5;
  }
  
  .profile-details {
    display: flex;
    align-items: center;
  }
  
  .profile-avatar {
    margin-right: 20px;
  }
  
  .profile-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .profile-info {
    font-size: 16px;
  }
  
  .profile-info p {
    margin: 5px 0;
    
  }
  