.contact-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.contact-card {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.contact-card h3 {
  margin: 0;
}

.contact-card p {
  margin-top: 5px;
}
