

.home-page {
    text-align: center;
  }
  .im{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./patrick.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0; 
    margin: 0; 
    /* font-family: 'Roboto', sans-serif; */
    box-sizing: border-box;
  }
  .navba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    /* background-color: black; */
    top:0;
    left:0;
    right:0;
    /* background-color: transparent; */
    opacity: 0.6px;
    background: hsla(154, 53%, 82%, 1);

background: linear-gradient(45deg, hsla(154, 53%, 82%, 1) 0%, hsla(24, 88%, 65%, 1) 50%, hsla(216, 56%, 16%, 1) 100%);

/* background: -moz-linear-gradient(45deg, hsla(154, 53%, 82%, 1) 0%, hsla(24, 88%, 65%, 1) 50%, hsla(216, 56%, 16%, 1) 100%); */

/* background: -webkit-linear-gradient(45deg, hsla(154, 53%, 82%, 1) 0%, hsla(24, 88%, 65%, 1) 50%, hsla(216, 56%, 16%, 1) 100%); */

/* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B8E9D4", endColorstr="#F4985A", GradientType=1 ); */
    
  }
  

  .navba .login-signup a {
    color: white;
    font-size: 40px;
  }
  
  /* .navba .login-signup a:hover{
    font-size: 60px;
  } */
  .logo {
    font-size: 24px;
    font-weight: bold;
    font-size: 40px;
    color:black !important;
    margin-left: 1rem;
  }

  /* .logo:hover{
    font-size: 60px;
  } */
  
  .login-signup {
    display: flex;
    font-size: larger;
    font-weight: bolder;
    color:black;
  }
  
  .login-signup a {
    margin-left: 10px;
    text-decoration: none;
  }
  
  .quotes {
    margin-top: 120px;
  }
  
  .quotes h2 {
    font-size: 40px;
    margin-bottom: 10px;
    animation: floatAnimation 2s ease-in-out;
    color:whitesmoke;
    
  }
  
  .quotes p {
    font-size: 25px;
    color: white;
    animation: floatAnimation 2s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  @keyframes floatAnimation {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  .quotes h2,
  .quotes p {
    animation: floatAnimation 2s ease-in-out;
  }
  
  